.home-root {
    background-color: #72A1BF;

    height: 100vh;
    width: 100vw;
}

.content-group {
    /* width: 80%; */
    padding: 90px;
    /* border: 2px solid red; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-block {
    background-color: #074770;
    color: #A5C0D1;

    width: 60%;
    height: 30%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0% 1% 2% 1%;

    border-radius: 36px 36px 0 0;
}

.top-block-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    width: 60%;

    text-align: left;
    padding: 10px;
}

.top-block input {
    color: #4F4F4F;

    padding: 10px;
    
    border: none;
    border-radius: 4px;
    outline: none;
    font-family: 'Lato', sans-serif;

}

.top-block-button {
    color: #074770;
    background-color: white;
    font-size: 14px;
    border-radius: 21px;
    outline: none;
    border: none;
    padding: 10px 65px;
    text-transform: uppercase;
    font-weight: 700;

    margin-top: 35px;

    z-index: 100;
    cursor: pointer;
}

.bottom-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 61.8%;
}

.display-coordinates {
    background-color: white;
    width: 56%;
    height: 24.15rem;
    margin-left: -38px;
    text-align: left;
    padding: 20px;
    color: #123043;
    border-radius: 0 0 0 36px;
    /* border: 2px solid red; */
}

.display-coordinates-content {
    /* margin-top: -50px; */
}

.display-coordinates > p {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

.header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 14px;
    /* border: 2px solid blue; */
}

.header-group p {
    /* border: 2px solid black; */
    text-align: left;
    width: 50%;
}

.locations-data {
    font-weight: 700;
}

.map1 {
    width: 30%;
}

.actualMap {
    position: relative;
    top: 232px;
    right: 421px;
    border-radius: 0 0 36px 0 !important;
    height: 45% !important;
    width: 23% !important;
}

.display-coordinates button {
    position: fixed;
    bottom: 320px;
    left: 500px;
    background-color: #074770;
    color: white;
    width: 25%;

    padding: 10px 30px;
    border-radius: 21px;

    border: 0;
    outline: 0;

    font-size: 14px;
    font-weight: 700;

    cursor: pointer;
}